<div class="postList">

    <a class="getBack" routerLink=""><em>Back to main page</em></a>
    <div  class="posts">
      <p class="postTitle">
        <strong> {{ postOne.title }} </strong>
      </p>
  
      <app-users [user_id]="postOne.userId"> </app-users>
  
      <p class="postBody">{{ postOne.body }}</p>
      <div class="postFooter">
        
        <p class="comments"><app-comments [post_id]="postOne.id"> </app-comments></p>
      </div>

      <app-comment-section [post_id]="postOne.id"> </app-comment-section>
    </div>
  </div>