.posts {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #999;
  width: 450px;
  line-height: 1.6;
}

.postList {
  width: 550px;
  margin: 0 auto;
  border: 1px solid #999;
}

p {
  margin: 0px 10px;
}

.postBody {
  width: 450px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.postFooter {
  text-decoration: underline;
  padding: 5px;
  white-space: nowrap;
}

.comments {
  float: right;
  text-decoration: underline;
}
