.posts {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #999;
    line-height: 1;
  }

h5 {
  margin-top:5px;
  margin-bottom: 0;
}

h4 {
  margin-top:0;
  margin-bottom: 0;
}




